[Unit]
Description=One time boot script
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/firstboot.sh
StandardOutput=tty 
StandardError=tty

[Install]
WantedBy=multi-user.target
