[Unit]
Description=Kind Control Plane Container
Wants=network-online.target
After=network.target network-online.target

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a kind-control-plane
ExecStop=/usr/bin/podman stop -t 2 kind-control-plane

[Install]
WantedBy=multi-user.target
